services:
  db:
    image: postgres:13.0
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todos-db
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432